.Menu {
  text-align: center;
  padding: 3px 9px;
  border: solid #af5720;
}

.Menu-logo {
  animation: Menu-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Menu-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Menu-link {
  color: #61dafb;
}

@keyframes Menu-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
